<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KTWaveView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>36D662031F5E3F71001D26F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>36D6621C1F5E3F71001D26F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>36D662271F5E3F71001D26F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
